# MongoDB
MONGODB_URI=mongodb+srv://maadhava88_db_user:iTcvMloAvpGERN2K@cluster0.3tmfyow.mongodb.net/learnhub

# NextAuth (Auth.js)
AUTH_SECRET=your-secret-key-generate-with-openssl-rand-base64-32
AUTH_URL=http://localhost:3000

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
